html, body, #container{
    height: 100%;
}

body{
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.links a{
	color: #365899;
	padding-right: 5px;
}

form a{
	color: #9cb4d8;
}

.nav-links a{
	padding-right: 13px;
	color: #365899;
}

#container{
	width: 100%;
}

header{
	background-image: url('../img/bg.png');
	background-color: #3b5998;

}

.center-cont{
	width: 73%;
	margin: 0 auto;
	padding: 0 0 6.9em 0;
}

.logo{

	width: 171px;
	height: 33px;
	float: left;
	margin-top: 30px;
}

.form-top{
	float: right;
	width: 380px;
	margin-top: 17px;
}

input{
	border:1px solid #1d2a5b;
	color: #000;
	font-size: 12px;
	padding: 3px 4px 4px ;
	outline: none;

}

.blue-button{
	background-color: #4267b2;
    border: 1px solid #29487d;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
}

.grey-button{
	background-color: #f6f7f9;
	border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 2px;
    font-weight:bold;
    color: #4b4f56;
    font-size: 12px;
    padding: 4px 6px;
    margin-left: 2px;
}

.blue-button:hover{
	background-color: #42619c;
}

.blue-button:active{
	background-color: #314e82;
}

.grey-button:hover{
	background-color: #e3e4e6;
}

.grey-button:active{
	background-color: #c3c4c7;
}

.top-fields{
	width: 139px;
	margin-top: 5px;
	margin-right: 15px;
}

.form-top p{
	color: #fff;
}

.second-form{
	margin-bottom: 7px;
}

.wrap1, .wrap2{
	float: left;
}

.wrap3{
    width: 50px;
    float: right;
    margin-top: 17px;
}

main{
	background-color: #e9ebee;
	margin: 0 auto;
	position: relative;
	min-height: 370px;
}

.content-box{
	margin: 100px 0;
	width: 41%;
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
	position: absolute;
	left:50%;
	margin-left: -277px;
}

.text-header{
	border-bottom: 1px solid #ccc;
	width: 90%;
	margin: 0 auto;
}

h2{
	color: #162643;
    font-size: 16px;
	font-weight: bold;
	display: block;
	margin: 24px 0 10px 0;
}

.content-input{
	margin: 15px auto 25px auto;
	text-align: left;
	padding-left: 85px;
}

.content-input p{
	margin-bottom: 6px;
}

.content-input input{
	width: 54%;
	border-color: #ccc;
}

.container-buttons{
	border-top: 1px solid #ccc;
	background-color: #f2f2f2;
	height: 40px;
}

.main-buttons{
	float: right;
	margin: 8px 10px;
}

footer{
	width: 100%;
}

.footer-content{
	margin-top: 240px;
}

.lang-variants{
	border-bottom: 1px solid #ccc;
}

.lang-variants{
	padding-bottom: 15px; 
	margin-bottom: 10px;
}

.first-row{
	padding-bottom: 8px;
}

#copiright{
	font-size: 11px;
	color: #737373;
	margin: 30px 0;
}

.small-button a{
	padding: 0 10px;
	font-size: 1.4em;
	color: #4b4f56;
}

.small-button a:hover{
	text-decoration: none;
}

.ad-choices img{
	position: absolute;
    vertical-align: middle;
}

.ad-choices{
	position: relative;
	margin-right: 10px;
}

